.link_div{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    padding: 1.8rem 0rem;
}
.link_title{
    font-size: 1.5rem;
    color: #A0A5AC;
    letter-spacing:0.3rem ;
}
.link_div_link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.link4{
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    font-weight:400;
}
.link4:hover{
    color:#A0A5AC ;
    text-decoration: underline;
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}
.h3{
    font-size: 1.5rem;
    font-weight: 400;
}
.p{
    font-size:1.5rem ;
}
.ourlink{
    color: red;
}
@media (max-width:720px) {
    .link_div{
       display: flex;
    }
    /* .copyright{
    padding: 1rem 0rem;
    } */
}
@media (max-width:480px) {
    .link_div{
       flex-wrap: wrap;
    }
}